@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Accenture Academy <br />
    Buenos Aires, Argentina<br />
    <abbr title="Telefono">Telefono:</abbr>
    +54 11 4648-5566
</address>
