
<div class="jumbotron">
    <h1>Biblioteca</h1>
    <p class="lead">
        Sistema de gestión de libros con el objetivo de administrar una biblioteca de una
        institución educativa
    </p>
    <p><a href="Book/Listar" class="btn btn-primary btn-lg" style="background-color:">Lista libros &raquo;</a></p>
    <p><a href="Author/Listar" class="btn btn-primary btn-lg" style="background-color:">Lista Autores &raquo;</a></p>
    <p><a href="Genre/Listar" class="btn btn-primary btn-lg" style="background-color:">Lista Generos &raquo;</a></p>
    <p><a href="Publisher/Listar" class="btn btn-primary btn-lg" style="background-color:">Lista Editoriales &raquo;</a></p>


</div>

<div class="row">
</div>
