
<div class="jumbotron">
    <h1>Biblioteca</h1>
    <p class="lead">
        Sistema de gestión de libros con el objetivo de administrar una biblioteca de una
        institución educativa
    </p>
    <p><a href="Book/Agregar" class="btn btn-primary btn-lg" style="background-color:">Agregar libros &raquo;</a></p>
</div>

<div class="row">
</div>
